---
  const { props } = Astro
---

<article
  class="flex flex-col-reverse sm:flex-row-reverse justify-end border-4 border-black p-6 m-4 sm:m-0 transition-all duration-300 cursor-pointer"
  data-slug={slug.current}
>
  <div class="pt-4 sm:pt-0 sm:pl-6 w-full">
    <h3 class="text-2xl uppercase font-semibold mb-4">{title}</h3>
    {
      excerpt && (
        <>
          <div class="flex gap-x-2 items-start">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-8 h-8 flex-1-0-auto"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
              />
            </svg>

            <div class="w-full">
              <p>{excerpt}</p>
            </div>
          </div>
          <hr class="my-4 border-black border-1" />
        </>
      )
    }

    {
      stages?.length > 0 && (
        <>
          <div class="flex items-start gap-x-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-8 h-8 flex-1-0-auto"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3 13.125C3 12.504 3.504 12 4.125 12h2.25c.621 0 1.125.504 1.125 1.125v6.75C7.5 20.496 6.996 21 6.375 21h-2.25A1.125 1.125 0 013 19.875v-6.75zM9.75 8.625c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125v11.25c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 01-1.125-1.125V8.625zM16.5 4.125c0-.621.504-1.125 1.125-1.125h2.25C20.496 3 21 3.504 21 4.125v15.75c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 01-1.125-1.125V4.125z"
              />
            </svg>

            <ul class="text-xl leading-normal w-full">
              {stages?.map((stage) => (
                <li class="font-normal">
                  <span class="font-semibold">{stage.type}</span>
                  {stage.distance ? `: ${stage.distance}` : ""}
                </li>
              ))}
            </ul>
          </div>
          <hr class="my-4 border-black border-1.5" />
        </>
      )
    }

    {
      location && (
        <div class="flex items-start gap-x-2 mb-4">
          {location?.maplink ? (
            <a
              href={location.maplink}
              target="_blank"
              rel="noreferrer"
              class="hover:underline w-full"
            >
              {location.line_one && <span>{location.line_one},</span>}
              {location.line_two && <span>{location.line_two},</span>}
              {location.line_three && <span>{location.line_three},</span>}
              {location.city && <span>{location.city},</span>}
              {location.postcode && <span>{location.postcode}</span>}
            </a>
          ) : (
            <div>
              {location.line_one && <span>{location.line_one},</span>}
              {location.line_two && <span>{location.line_two},</span>}
              {location.line_three && <span>{location.line_three},</span>}
              {location.city && <span>{location.city},</span>}
              {location.postcode && <span>{location.postcode}</span>}
            </div>
          )}
        </div>
      )
    }

    <a
      href={"/events/" + slug.current}
      class="inline-block w-full sm:w-auto text-center bg-black text-white font-bold uppercase px-4 py-2 text-xl tracking-wider mr-0 ml-auto border-2 border-black hover:bg-white hover:text-black transition"
    >
      View Full Event Details
    </a>
  </div>
  <div
    aria-label="event date"
    class="flex flex-col sm:items-center font-semibold border-black border-b-2 sm:border-b-0 sm:border-r-2 pb-4 sm:pb-0 sm:pr-6"
  >
    <p class="text-3xl">{new Date(date.start).getDate()}</p>
    <p class="text-xl uppercase">
      {shortMonths[new Date(date.start).getMonth()]}
    </p>
    <p>{new Date(date.start).getFullYear()}</p>
  </div>
</article>